.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.iteminfo {
  display: flex;
  justify-content: center;
  gap: 20px; 
}
.authinfo {
  display: flex;
  gap: 20px; 
  justify-content: flex-end;
}

.logo img {
  max-height: 50px; 
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .iteminfo, .authinfo {
    display: flex; /* Ensure that item and auth info are displayed on smaller screens */
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: center; /* Center items horizontally on smaller screens */
    gap: 10px; /* Adjust the gap between items */
  }
}
